<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RSVP</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-amber.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
      <div class="mdl-grid">
        <h3>Confirmation</h3>
      </div>
      <div class="mdl-grid">
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Name: {name}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Attending: {{ if attending }}Yes{{ else }}No{{ endif }}
            </span>
          </li>
          {{ if attending }}
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Email: {email}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Attending Secondary: {{ if attending_secondary }}Yes{{ else }}No{{ endif }}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Attending Tertiary: {{ if attending_tertiary }}Yes{{ else }}No{{ endif }}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Meal Choice: {meal_choice}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Dietary Restrictions: {dietary_restrictions}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Plus-One: {plus_one_name}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Attending: {{ if plus_one_attending }}Yes{{ else }}No{{ endif }}
            </span>
          </li>
          {{ if plus_one_attending }}
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Meal Choice: {plus_one_meal_choice}
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Dietary Restrictions: {plus_one_dietary_restrictions}
            </span>
          </li>
          {{ endif }}
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Comments: {comments}
            </span>
          </li>
          {{ endif }}
        </ul>
      </div>
    </div>
  </body>
</html>

